node_modules
doc.txt
.env  
uploads
index.js
package.json
package-lock.json                                                                                                                                                                                                                                                                                                                                                                                                              